.gradle
build/

# Source code


#Run files
runclient

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

#IDE files
.idea
*.iml
run/

out/
bin/
*.class